.letter-input-group-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.letter-input-container {
    height: 3rem;
    width: 3rem;

    font-size: 1.2rem;

    color: var(--foreground);
    background-color: var(--card-background);
    border: 2px solid var(--card-border);
    border-radius: var(--radius);
    margin-bottom: 1rem;

    transform: scale(1);
    transition-duration: 0.1s;

    text-align: center;
}

.letter-input-container:hover {
    box-shadow: 1px 1px 2px 0px var(--card-border);

    transform: scale(1.2);
    transition-duration: 0.1s;
}

@media only screen and (min-width: 800px) {
    .validity-button {
        border-radius: 100%;
        border: 1px solid var(--card-border);
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }
}

@media only screen and (max-width: 800px) {
    .validity-button {
        border-radius: 100%;
        border: 1px solid var(--card-border);
        width: 2rem;
        height: 2rem;
        cursor: pointer;

        margin: 0.4rem 0;
    }

    .letter-input-container:hover {
        box-shadow: 0 0 0 0 var(--card-border);

        transform: scale(1);
        transition-duration: 0.1s;
    }
    .letter-input-container:active {
        box-shadow: 1px 1px 2px 0 var(--card-border);

        transform: scale(1.2);
        transition-duration: 0.1s;
    }
}
