@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --background: #1a237e;
  --foreground: #f8fdff;
  --foreground-muted: rgba(248, 253, 255, 0.7);

  --card-border: #c5cae9;
  --card-background: #000051;
  --card-background-hover: #3b3383;

  --green: #2e7d32;
  --green-hover: #aed581;
  --dark-green: #0a480d;

  /*--red: #c62828;*/
  /*--red-hover: #e57373;*/
  /*--dark-red: #6b0f0f;*/
  --red: #5b5353;
  --red-hover: #a69595;
  --dark-red: #2a2626;

  --amber: #ff8f00;
  --amber-hover: #ffd54f;
  --dark-amber: #734000;


  --radius: 12px;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.75rem;
  background-color: var(--card-background);
}
*::-webkit-scrollbar-corner {
  background-color: var(--card-background);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
}

.full-app-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 300px;
  max-width: 1450px;

  position: relative;
}

.app {
  padding: 2rem;
  width: 100%;
}
.app-title {
  font-size: 3rem;
  font-stretch: ultra-expanded;

  padding: 2rem 0;
  margin: 0;

  text-align: center;
  color: var(--foreground);


}
.app-content {
  display: flex;
  justify-content: space-evenly;
  align-items: start;

  background-color: var(--background);
  color: var(--foreground);
  margin-top: 2rem;
}
.app-column {
  display: block;

  width: 50%;
  margin: 0 1rem;
}

.tooltip {

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 8rem;
  max-width: 8rem;

  background-color: var(--background);
  color: var(--foreground);
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--card-border);

  font-size: 0.75rem;

  opacity: 90%;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -100%;
  left: -75%;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.m-4 {
  margin-bottom: 2rem;
}
.bold {
  font-size: 1.1rem;
  font-weight: bold;
}
.centred {
  display: flex;

  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}

.refresh-button {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: var(--foreground);
  background-color: var(--card-background);
  border: 2px solid var(--card-border);
  border-radius: 100%;

  transform: scale(1);
  transition: 0.1s;
}
.refresh-button:hover {
  background-color: var(--card-background-hover);

  transform: scale(1.2);
  transition: 0.1s;
}
.refresh-button-icon {
  height: 100%;
  width: 1.5rem;
  max-height: 100%;

  margin: 0.4rem;
}
.generic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--card-background);
  border-radius: var(--radius);
  border: 2px solid var(--card-border);
  padding: 1rem;
  width: 100%;

  margin: 0 0 2rem 0;

  position: relative;
}

.information-button {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: var(--foreground);
  background-color: var(--card-background);
  border: 2px solid var(--card-border);
  border-radius: 100%;

  transform: scale(1);
  transition: 0.1s;
}
.information-button:hover {
  background-color: var(--card-background-hover);

  transform: scale(1.2);
  transition: 0.1s;
}
.information-button-icon {
  height: 100%;
  width: 1.5rem;
  max-height: 100%;

  margin: 0.4rem;
}

@media only screen and (min-width: 800px) {
  .refresh-button {
    position: absolute;
    top: 33%;
    right: 2rem;

    height: 3.2rem;
    width: 3.2rem;
  }

  .information-button {
    position: absolute;
    top: 33%;
    left: 2rem;

    height: 3.2rem;
    width: 3.2rem;
  }
}
@media only screen and (max-width: 1480px) {
  .app-content {
    flex-direction: column;

    width: 100%;

    justify-content: center;
    align-items: center;

    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
  }

  .app-column {
    display: block;

    width: 100%;
    margin: 0;
  }

  .app {
    padding: 0.2rem;
  }

  .generic-container {
    text-align: center;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
  }

  .tooltip:hover .tooltiptext {
    visibility: hidden;
  }
}

@media only screen and (max-width: 800px) {
  html {
    overflow-x: hidden;
  }

  .app-title {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }

  .app-column {
    margin: 0;
  }

  .refresh-button {
    position: absolute;
    top: 1rem;
    right: 1rem;

    height: 2.2rem;
    width: 2.2rem;
  }
  .refresh-button:hover {
    background-color: var(--card-background);

    transform: scale(1);
    transition: 0.1s;
  }
  .refresh-button:active {
    background-color: var(--card-background-hover);

    transform: scale(1.2);
    transition: 0.1s;
  }

  .information-button {
    position: absolute;
    top: 1rem;
    left: 1rem;

    height: 2.2rem;
    width: 2.2rem;
  }
  .information-button:hover {
    background-color: var(--card-background);

    transform: scale(1);
    transition: 0.1s;
  }
  .information-button:active {
    background-color: var(--card-background-hover);

    transform: scale(1.2);
    transition: 0.1s;
  }
}

.bg-green {
  background-color: var(--green);
}
.hover-bg-green:hover {
  background-color: var(--green-hover);
}

.bg-orange {
  background-color: var(--amber);
}
.hover-bg-orange:hover {
  background-color: var(--amber-hover);
}

.bg-red {
  background-color: var(--red);
}
.hover-bg-red:hover {
  background-color: var(--red-hover);
}
