@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --background: #1a237e;
  --foreground: #f8fdff;

  --card-border: #c5cae9;
  --card-background: #000051;
  --card-background-hover: #3b3383;

  --green-hover: #aed581;
  --red-hover: #e57373;
  --amber-hover: #ffd54f;

  --green: #2e7d32;
  --red: #c62828;
  --amber: #ff8f00;

  --dark-green: #0a480d;
  --dark-red: #6b0f0f;
  --dark-amber: #734000;

  --radius: 12px;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 0.75rem;
  background-color: var(--card-background);
}

*::-webkit-scrollbar-corner {
  background-color: var(--card-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
}

@media only screen and (min-width: 1480px) {
  .app-content {
    display: flex;
    justify-content: space-around;
    align-items: start;

    background-color: var(--background);
    color: var(--foreground);
    margin-top: 2rem;
  }

  .app-column {
    display: block;

    width: 100%;
    margin: 0 2rem;
  }

  .app {
    min-height: 100vh;
    min-width: 100vw;

    background-color: var(--background);
    padding: 2rem;
  }

  .generic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: var(--card-background);
    border-radius: var(--radius);
    border: 2px solid var(--card-border);
    padding: 1rem;
    width: 100%;

    margin: 0 0 2rem 0;
  }
}

@media only screen and (max-width: 1480px) {
  .app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background);
    color: var(--foreground);
    margin-top: 2rem;
  }

  .app-column {
    display: block;

    width: 100%;
  }

  .app {
    min-height: 100vh;
    min-width: 100vw;

    background-color: var(--background);
    padding: 0.2rem;
  }

  .generic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: var(--card-background);
    border-radius: var(--radius);
    border: 2px solid var(--card-border);
    padding: 0.5rem;
    width: 100%;

    margin: 0 0 1rem 0;
  }
}

.app-title {
  font-size: 3rem;
  font-stretch: ultra-expanded;

  padding: 2rem 0;
  margin: 0;
  width: 100%;

  text-align: center;
  color: var(--foreground);
}

.m-4 {
  margin-bottom: 2rem;
}

.bold {
  font-size: 1.1rem;
  font-weight: bold;
}

.centred {
  display: flex;

  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.bg-green {
  background-color: var(--green);
}
.hover-bg-green:hover {
  background-color: var(--green-hover);
}

.bg-orange {
  background-color: var(--amber);
}
.hover-bg-orange:hover {
  background-color: var(--amber-hover);
}

.bg-red {
  background-color: var(--red);
}
.hover-bg-red:hover {
  background-color: var(--red-hover);
}