.word-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 40rem;

    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn-go {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;

    color: var(--foreground);
    background-color: var(--card-background);
    border: 2px solid var(--card-border);
    border-radius: 12px;
    margin-left: 2rem;

    padding: 1rem;

}

.btn-go:hover {
    background-color: var(--card-background-hover);
}

.btn-go:disabled {
    background-color: #201f38;
}


.flex {
    display: flex;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    max-width: 40rem;

    margin-bottom: 2rem;
}