.word-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 40rem;

    margin-bottom: 2rem;
    margin-top: 2rem;
}

.action-button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;

    align-self: center;
    justify-self: center;

    color: var(--foreground);
    background-color: var(--card-background);
    border: 2px solid var(--card-border);
    border-radius: 12px;

    min-width: 6rem;

    padding: 1rem;

    transform: scale(1);
    transition: 0.1s;
}

.action-button:hover {
    background-color: var(--card-background-hover);

    transform: scale(1.1);
    transition: 0.1s;
}

.action-button:disabled {
    background-color: #201f38;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    max-width: 40rem;

    margin-bottom: 2rem;
}